@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@400;900&display=swap');
  .card{
  border: none;
  }

  #cards2{
      background-color: #5e6d67;
  }

  #socials1{
      color: whitesmoke;;
      font-size: 20px;  
      background-color: rgb(81, 97, 90);
      padding: 5px;
      }

  #socials1:hover{
      color: whitesmoke;;
      background-color: rgb(54, 62, 59);
      }

  a {
      text-decoration: none;
      color: white;
      }
  #paradise{
      background-color: rgb(233, 232, 232);
      padding-top: 40px;
      padding-bottom: 40px;
  }
  #soul {
      padding-top: 50px;
      padding-bottom: 80px;
  }
  #souls{
      background-color: #36433d;
      font-family: 'Poppins', sans-serif; 
      font-weight: 100;
      border-radius: 20px;
  }
  #souls:hover{
      background-color: #202825;
      color: white;
  }
  .navbar {
      background-color: #5e6d67;
  }
  #rooms{
      padding-top: 50px;
      padding-bottom: 80px;
      background-color: #5e6d67;
  }
  #daytour{
      
      padding-top: 50px;
      padding-bottom: 50px;
  }
  #testimonials{
      padding-top: 60px;
      padding-bottom: 80px;
      background-color: rgb(233, 232, 232);
  }
   .carousel-control-prev-icon{
     background-color: #83988f;
     height: 10vh;
     
  }
  .carousel-control-next-icon{
      background-color: #83988f;
      height: 10vh;
     
  }

  #card1{
      background-color: rgb(233, 232, 232);
  }

  .nav-item{
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: bolder;
  }

 .card-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
 }

  .card-title{
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
  }

  .card-img-top{
      transition: 1s ease;
 }

 .card-img-top:hover{
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      transition: 1s ease;
  }

 #room:hover{
  color: white;
  background-color: rgb(54, 62, 59);
  }

 .navs {
  display: inline-block;
  position: relative;
  color: whitesmoke;
  padding-bottom: 3px;
  }

  #tag{
  font-size: 60px; 
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  }

  .navs::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 77, 73);
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
  }

  .navs:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }

  #footer{
      padding-top: 50px;
      padding-bottom: 80px;
      background-color: #5e6d67;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  .contactForm{
      width: 100%;
      padding: 45px;
      border-radius: 0;
      
  }

  .contactrow{
      box-shadow: rgb(99, 99, 99, 8.2) 0px 2px 8px 0px;
  }

  .contact-col-md-7{
      padding: 20px;
      background-color: #5e6d67;
  }

  .contact-col-md-5{
      background-color: #36433d;
      padding: 20px;
      color: white;
  }
  .form-control{
      height: 52px;
      background: #fff;
      border-radius: 2px;
      box-sizing: none;
      border: 1px solid rgb(0, 0, 0, 0.1);
  }
  .bi{
      font-size: 20px;
  }
  .d-flex p{
      font-size: 18px;
      padding-left: 10px;
  }
  .input-group span{
      position:absolute;
      bottom: 12px;
      right: 17px;
  }
  .input-group span i{
      color: seagreen;
  }