@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(255,255,255,0.35)), url("/assets/images/bgreserve.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

